.whole-wrapper {
  max-width: 900px; 
  height: 492px;
  background-color: hsl(286, 58%, 75%); 
  padding: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}


.presentation {
  height: 100% !important;
  padding: 0 20px 0 0;
  margin-right: 20px;
  h4 {
    margin: 0 auto 20px;
  }
  .description {
    opacity: 0.8;
    margin-top: 40px;
    font-size: 14px;
    line-height: 1.6em;
    background-color: beige;
    padding-right: 20px;
    box-shadow: 0 4px 16px 0px rgba(0,0,0,0.5);
  }
}

.exhibits {
  .box {
    border: 1px solid hsla(240, 55%, 36%, 0.6);
    padding: 20px;
    margin-bottom: 10px;
  }
  
  .box.red {
    border-color: hsla(0, 70%, 66%, 0.9);
  }
  
  .control-btn {
    font-size: 1em;
    padding: 5px 10px;
    margin: 5px auto;
  }
}